@import '../../../assets/styles/variables.scss';

.AboutSection {
    align-items: center;
    display: flex;
    font-size: 1.5rem;
    padding: $standard-spacing;
    
    .AboutSection-avatar {
        height: 20rem;
        width: 20rem;
        border: 2px solid var(--secondary);
        border-radius: 50%;
        flex-shrink: 0;
        margin-right: $standard-spacing * 2;
        overflow: hidden;
        position: relative;

        .AboutSection-avatar-image {
            height: 24rem;
            width: 24rem;
            margin: -1rem -2rem;
        }
    
        .AboutSection-avatar-redirect {
            height: 2rem;
            width: 2rem;
            top: 3rem;
            right: 2rem;
            align-items: center;
            background-color: var(--secondary);
            border-radius: 50%;
            color: var(--background);
            display: flex;
            justify-content: center;
            position: absolute;
        }
    }

    .AboutSection-content {
        > *:not(:last-child) {
            position: relative;

            &::after {
                content: '';
                height: 2px;
                width: 5rem;
                left: 0;
                right: 0;
                bottom: -1rem;
                background-color: var(--secondary);
                position: absolute;
                opacity: 0.3;
            }
        }
    }
}

@media (max-width: 600px) {
    .AboutSection {
        flex-direction: column;
        text-align: center;

        .AboutSection-avatar {
            margin-right: 0;
            margin-bottom: $standard-spacing * 2;
        }
        
        .AboutSection-content {
            > *:not(:last-child) {
    
                &::after {
                    margin: auto;
                }
            }
        }
    }
}