@import '../../../assets/styles/variables.scss';

.ProjectsSection {
    display: flex;
    justify-content: center;

    > *:not(:last-child) {
        margin-right: 1rem;
    }

    @media (max-width: 600px) {
        flex-wrap: wrap;

        > *:not(:last-child) {
            margin-bottom: 1rem;
            margin-right: 0;
        }
    }

    .ProjectsSection-project {
        background-color: var(--background-variant);
        padding: $standard-spacing * 2;
        border-radius: $standard-spacing;

        > *:not(:last-child) {
            margin-bottom: $standard-spacing / 2;
        }

        .ProjectsSection-title {
            color: var(--secondary);
            font-size: 1.5rem;
            font-weight: bold;

            .ProjectsSection-links {
                display: flex;
                justify-content: space-between;
                align-items: center;

                .ProjectsSection-linkIcon {
                    height: 2.5rem;
                    width: 2.5rem;
                    background-color: var(--background);
                    border-radius: 50%;
                    padding: $standard-spacing / 2;
                    margin-left: $standard-spacing / 2;
                }
            }
        }

        .ProjectsSection-features {
            columns: 2 10rem;

            .ProjectsSection-features-section {
                break-inside: avoid;  
            }
        }
    }
}