@import './variables.scss';
@import './themes.scss';
@import './fonts.scss';

*, *::before, *::after {
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: 'Titillium Web', 'Roboto', sans-serif;
    font-weight: normal;
    font-style: normal;
}

@media (max-width: 400px) {
    html {
        font-size: 12px;
    }
}

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    color: var(--secondary);
    text-decoration: none;

    &:hover {
        color: var(--primary);
    }
}